*.log
*.h5
*.ipynb
*.zip
*.tflite

models/
~/
__pycache__/
IMDB_Dataset.py
train_imdb_model.py
train_mrpc_model.py
evaluate_imdb_model.py
evaluate_mrpc_model.py
makeMRPCValData.py
data/
aclImdb/
.ipynb_checkpoints/
debugger_results/
tflite_models/