*.log
*.h5
*.ipynb
*.zip
*.tflite
*.sh
*.txt

.vscode/
models/
~/
__pycache__/
data/
aclImdb/
.ipynb_checkpoints/
result_summary/
debugger_results/
tflite_models/
partitioned_models/
use_conv_models/
partitioned_no_embedding/
models_for_paper/
fp32_BERT_models/
bert_large_models/